version: '3.8'

services:
  php:
    build: .
    container_name: weather-app
    volumes:
      - .:/var/www/html
    expose:
      - "9000"

  web:
    image: nginx:alpine
    container_name: nginx-web
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
