    .footer {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #f5f5f5;
      font-size: 10px;
      display: flex;
      align-items: center;
    }

    .footer-text {
      margin-left: 10px;
      color: #6c757d;
    }